#!/bin/bash

sysbench /usr/share/sysbench/oltp_read_write.lua \
    --threads=4 \
    --mysql-host=db1.pmm2lab.172.17.17.11.nip.io \
    --mysql-user=sbtest_user \
    --mysql-password=sbtest_password \
    --mysql-port=3306 \
    --tables=10 \
    --table-size=100000 \
    prepare